<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="stylesheet" href="/css/application.css">
<!--  	<link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css"> -->
	<title>Quora - Clone</title>
	<link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
	<!-- <script src="js/jquery.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- <script src="js/bootstrap.min.js"></script> -->

 	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  
</head>
<body>
  <!-- Navigation -->
  <!-- <nav class="navbar navbar-default"> -->
  <nav class="navbar navbar-inverse">
  	<div class="container-fluid">
	    <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="" id="main-logo" href="/">
				<img src="/img/quora_logo.svg" alt="logo" class="navbar-brand">
			</a>
	    </div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="navbar-header hidden-sm hidden-xs">
				<a class="navbar-brand active" href="/"><i class="fa fa-home"></i> Home</a>
				<a class="navbar-brand" href="#answer"><i class="fa fa-edit"></i> Answers</a>
				<a class="navbar-brand" href="#notifications"> <i class="fa fa-bell-o"></i> Notifications</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<form action="/question" method="post" class="navbar-form" >
						<input type="text" name="question[question]" placeholder="Search Quora" id="searchbox" class="form-control">
						<input type="submit" value="Add Question" class="btn btn-danger" id="btn-question">
					</form>
				</li>
	        	<li class="dropdown">
	        	<% if logged_in? %>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
				        <img class="img-circle img-circle special-img" src="/img/<%= current_user.img%>" alt="Picture">
						<%= current_user.name %>
						<span class="caret"></span>
					</a>
		        	<ul class="dropdown-menu">
		          		<li>
		          			<a href="/users/<%=current_user.id%>"><i class="fa fa-user"></i>  Profile</a>
		          		</li>
						<li role="separator" class="divider"></li>
		          		<li>
		          			<a href="/users/<%=current_user.id%>"><i class="fa fa-wrench"></i>  Settings
		          			</a>
		          		</li>
						<li role="separator" class="divider"></li>
						<li>
							<a href="/logout"><i class="fa fa-sign-out"></i>  Logout</a>
						</li>
					</ul>
	            <% else %>
		          </a>
		          	<a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">
				        <img class="img-circle special-img" src="/img/user_general.png" alt="">
						<p class="p-navbar"> Login / Signup</p>
						<!-- <b class="caret"> </b> -->
					</a>
			        <ul class="dropdown-menu">
			          <li><a href="/login">Login</a></li>
					  <li role="separator" class="divider"></li>
			          <li><a href="/signup">Sign Up</a></li>
					</ul>
			    <% end %>
	        	</li>
		    </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

  <div class="container">
  	<%= yield %>
  </div>

<script src="/js/application.js"></script>

</body>

</html>
