<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="/css/application.css">
<!--  	<link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css"> -->
	<title>Quora - Clone</title>
	<link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
	<!-- <script src="js/jquery.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- <script src="js/bootstrap.min.js"></script> -->

 	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
</head>
<body>
  <!-- Navigation -->
  <!-- <nav class="navbar navbar-default"> -->
  <nav class="navbar navbar-inverse">
		<div class="container-fluid">
	    <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="mr-auto"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="" href="/">
				<img src="/img/quora_logo.svg" alt="logo" class="navbar-brand">
			</a>
	    </div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<a class="navbar-brand active" href="/">Home</a>
			<a class="navbar-brand" href="#answer">Answer</a>
			<a class="navbar-brand" href="#notifications">Notifications</a>

	    	<div class="col-md-2"></div>
	    	<form action="/question" method="post" class="navbar-form navbar-left">
				<input type="text" name="question[question]" placeholder="Search Quora" id="searchbox" class="form-control col-md-8">
				<input type="submit" value="Add Question" class="btn btn-danger"">
			</form>
			<div class="col-md-2 nav navbar-nav navbar-right">

				<ul class="nav navbar-nav navbar-right">

		        	<li class="dropdown">
		        	<% if logged_in? %>
						<a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">
					        <img class="img-circle special-img" src="/img/<%= current_user.img%>" alt="">
							<p> <%= current_user.name %></p>
							<!-- <b class="caret"> </b> -->
						</a>
			        	<ul class="dropdown-menu">
			          		<li>
			          			<a href="/users/<%=current_user.id%>">Profile</a>
			          		</li>
							<li role="separator" class="divider"></li>
			          		<li>
			          			<a href="/users/<%=current_user.id%>">Settings</a>
			          		</li>
							<li role="separator" class="divider"></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
		            <% else %>
<!-- 			          <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown"><p>Guest </p>
			          	<img class="img-circle special-img" src="/img/user_general.png" alt=""> -->
			          	<!-- <b class="caret"></b> -->
			          </a>
			          	<a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">
					        <img class="img-circle special-img" src="/img/user_general.png" alt="">
							<p> Login / Signup</p>
							<!-- <b class="caret"> </b> -->
						</a>
				        <ul class="dropdown-menu">
				          <li><a href="/login">Login</a></li>
						  <li role="separator" class="divider"></li>
				          <li><a href="/signup">Sign Up</a></li>
						</ul>
				    <% end %>
		        	</li>
		      	</ul>
	      	</div>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

  <div class="container">
  	<%= yield %>
  </div>
  
</body>

</html>
